/*CSS PARA A IMAGEM
img {
	display: block;
	margin: auto;
	width:200px;
	height:100px;
	opacity: 0.5;
	border-radius: 50px 20px;
	}
img:hover {
	opacity: 1.0;
	}
*/
:root {
	--gold-100: #ffffff;
	--gold-95:  #fcf9e8;
	--gold-90:  #f9f2d2;
	--gold-85:  #f7ecbb;
	--gold-80:  #f4e5a4;
	--gold-75:  #f1df8e;
	--gold-70:  #eed877;
	--gold-65:  #ebd260;
	--gold-60:  #e9cb49;
	--gold-55:  #e6c533;
	--gold-50:  #e3be1c;
	--gold-47:  #d4b31a; /* cor principal */
	--gold-45:  #ccab19;
	--gold-40:  #b69816;
	--gold-35:  #9f8514;
	--gold-30:  #887211;
	--gold-25:  #715f0e;
	--gold-20:  #5b4c0b;
	--gold-15:  #443908;
	--gold-10:  #2d2606;
	--gold-5:   #171303;
	--gold-0:   #000000;
  }
   
  
  body {
	background-color: var(--gold-80) !important; /* preto */
  }
  
  .logo {
	display: block;
	width: 300px;
	height: 100px;
	margin: auto;
	margin-bottom: 20px;
	background-image: url("https://i.postimg.cc/3R2PytCp/diadesorte.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 20px 80px;
  }
  
  .logo:hover {
	opacity: 1.0;
	transform: scale(1.05);
    filter: drop-shadow(0 8px 16px var(--shadow-gold));
	background-color: var(--gold-60); /*exemplo: hover mais claro */
  }

  .header {
    text-align: center;
    margin-bottom: 40px;
    animation: fadeInDown 1s ease-out;
  }